// Main colors
$mainColors: (#55ba59, #32b8df, #0182f9, #003f5e, #303030, #1c1c1c);

@function mainColors($col) {
  @return nth($mainColors, $col);
}

$white: #fff;
$black: #000;

// Base font
$baseFont: 16px sans-serif;

// Display flex
@mixin dFlex($type) {
  display: flex;
  @if ($type == "center") {
    justify-content: center;
    align-items: center;
  } @else if ($type == "left") {
    justify-content: flex-start;
    align-items: center;
  } @else if ($type == "right") {
    justify-content: flex-end;
    align-items: center;
  } @else if ($type == "spaceBtwn") {
    justify-content: space-between;
    align-items: center;
  } @else {
    display: flex;
  }
}

// Margins & Paddings
@each $size in 0, 1, 2, 3, 4, 5 {
  .my-#{$size} {
    margin-top: $size + rem;
    margin-bottom: $size + rem;
  }
  .mt-#{$size} {
    margin-top: $size + rem;
  }
  .mb-#{$size} {
    margin-bottom: $size + rem;
  }
  .mx-#{$size} {
    margin-left: $size + rem;
    margin-right: $size + rem;
  }
  .ml-#{$size} {
    margin-left: $size + rem;
  }
  .mr-#{$size} {
    margin-right: $size + rem;
  }
  .py-#{$size} {
    padding-top: $size + rem;
    padding-bottom: $size + rem;
  }
  .px-#{$size} {
    padding-left: $size + rem;
    padding-right: $size + rem;
  }
}

// Position
@mixin center($type) {
  @if ($type == "ab-y") {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  } @else if ($type == "ab-x") {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else if ($type == "ab-xy") {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  } @else if ($type == "fx-y") {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  } @else if ($type == "fx-x") {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  } @else if ($type == "fx-xy") {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
